* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}

body {
  height: 100vh;
  background-color: #252525;
  
}

@media screen and (max-width: 767px) {
  body {
    overflow-y: auto;
  }
}

#app {
  height: 100%;
  width: 100%;
}

header {
  background-color: #1a1a1a;
  border-bottom: 4px solid rgb(31, 31, 114);
  padding: 40px;
  color: #fff;
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 767px) {
  header {
    justify-content: center;
    align-items: center;
    gap: 50px;
    flex-direction: column;
  }

  .buttonHeader {
    position: relative;
  }

  .buttonHeader::before {
    content: "";
    border-radius: 6px;
    height: 3px;
    width: 200%;
    background-color: #fff;
    position: absolute;
    left: -50%;
    top: -20px;
  }
}

header > ul {
  display: flex;
  list-style: none;
}
header > ul > li > a {
  margin: 20px;
  color: #fff;
  text-decoration: none;
  position: relative;
}
header > ul > li > a::after {
  content: "";
  background-color: rgb(31, 31, 114);
  border-radius: 6px;
  height: 4px;
  width: 0;
  position: absolute;
  left: 0px;
  bottom: -6px;
  transition: width 0.5s ease;
}

header > ul > li > a:hover::after {
  width: 100%;
}

.buttons {
  width: 450px;
  display: flex;
  gap: 80px;
  justify-content: center;
}

.buttonHeader {
  background-color: rgb(31, 31, 114);
  padding: 12px;
  border-radius: 6px;
  transition: all .5s ease;
}

.buttonHeader:hover {
  background-color: rgb(23, 23, 84);
  transform: scale(.97);
}

.buttonHeader::after {
  display: none;
}

main {
  width: 100%;
  padding: 0px;
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.titleArea {
  width: 350px;
  gap: 20px;
  display: flex;
  text-align: center;
  flex-direction: column;
}

.titleAreaAbout {
  width: 350px;
  gap: 20px;
  display: flex;
  text-align: start;
  flex-direction: column;
}

.titleArea > hr, .titleAreaAbout > hr {
  border: 2px solid #fff;
  border-radius: 10px;
}

.home {
  display: flex;
  padding-top: 180px;
  align-items: center;
  flex-direction: column;
}

.blockHome {
  background-color: #1a1a1a;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.176);
  padding: 40px;
  border-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.about {
  display: flex;
  align-items: start;
  flex-direction: column;
  padding: 30px;
}

.users {
  width: 100%;
  padding: 60px 120px;
  display: flex;
  align-items: start;
  justify-content: center;
  gap: 120px;
}

@media screen and (max-width: 767px) {
  .users {
    justify-content: center;
    align-items: center;
    gap: 120px;
    padding: 60px;
    flex-direction: column;
  }
}

.userInfoArea {
  width: 100%;
  padding: 120px 120px;
  display: flex;
  align-items: start;
  justify-content: start;
  flex-direction: row;
}

.userInfo {
  background-color: #1a1a1a;
  border-radius: 10px;
  padding: 30px;
  width: 350px;
}

.inputForm {
  width: 100%;
  color: #000;
  font-size: 1.1rem;
  padding: 6px;
  margin-bottom: 12px;
  border-radius: 6px;
  border: 2px solid rgba(0, 0, 0, 0);
}

.buttonsForm {
  width: 100%;
  display: flex;
  gap: 14px;
}


.buttonFormEdit, .buttonForm, .buttonFormRegister, .buttonFormLogin {
  background-color: rgb(31, 31, 114);
  border: none;
  border-radius: 6px;
  padding: 12px;
  font-size: 1rem;
  width: 100%;
  color: #fff;
  cursor: pointer;
  transition: all .5s ease;
}

.buttonForm {
  width: auto;
}

.buttonForm {
  text-decoration: none;
}

.buttonForm:hover, .buttonFormEdit:hover, .buttonFormRegister:hover {
  background-color: rgb(23, 23, 84);
  transform: scale(.96);
}

.buttonBack {
  background-color: rgb(184, 51, 51);
  text-decoration: none;
  text-align: center;
}

.buttonBack:hover {
  background-color: rgb(146, 41, 41);
}

table {
  width: 500px;
  border-collapse: collapse;
}

@media screen and (max-width: 767px) {
  table {
    width: 350px;
  }
}

tr {
  text-align: center;
  transition: all .5s ease;
}

thead > tr > th {
  background-color: #101010;
  padding: 18px;
}

tbody > tr:nth-child(odd) {
  background-color:#1a1a1a;
  cursor: pointer;  
}

tbody > tr:nth-child(even) {
  background-color: #2e2e2e;
  cursor: pointer;  
}

tbody > tr:hover {
  background-color: #807f7f;
}

tr > td, tr > th {
  border: 2px solid #fff;
  padding: 12px;
}

.buttonTable {
  text-decoration: none;
  font-size: 1.5rem;
  color: #fff;
  transition: all .3s ease;
}

.buttonTable:hover {
  transform: scale(.96);
}

.buttonDelete {
  background-color: rgba(0, 0, 0, 0);
  border: none;
}

.buttonEdit {
  background-color: red;
  height: 100%;
  width: 100%;
}

.buttonDelete > a {
  color: #fff;
  text-decoration: none;
  font-size: 1.5rem;
}

.formRegisterUser, .formLoginUser {
  width: 350px;
}

main > .users > .listUsers, main > .users > .registerUser > .formRegisterUser, main > .users > .loginUser .formLoginUser {
  background-color: #1a1a1a;
  border-radius: 12px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.436);
  padding: 36px;
}

.buttonsActionTable {
  transition: all .5s ease;
}

.buttonEditTable {
  padding: 0px;
}



.buttonEditTable > a {
  height: 100% !important;
  background-color: rgba(0, 0, 0, 0);
  display: flex;
  padding: 12px;
  align-items: center;
  justify-content: center;
}

.buttonEditTable > a:hover {
  background-color: green;
}

.buttonDeleteTable:hover {
  background-color: rgb(164, 34, 34);
}

.alertArea {
  background-color: rgba(0, 0, 0, 0.8);
  height: 200vh;
  width: 100%;
  position: absolute;
  top: 0%;
  left: 0%;
  transition: all .5s ease;
  overflow: none;
}

@media screen and (max-width: 767px) {
  .alertArea {
    height: 300vh;
    overflow-x: none;
  }
}

.alert {
  position: fixed;
  top: 0%;
  left: 50%;
  transform: translate(-50%, 0%);
  border-radius: 14px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.363);
  width: 350px;
  margin-top: 40px;
  overflow: hidden;
  z-index: 2;
  transition: all .5s ease;
}

.alert > header {
  padding: 20px;
  width: 100%;
  display: block;
  border: none;
}

.alert > main {
  background-color: #fff;
  color: #000;
  padding: 30px;
  display: block;
}

.alert > footer {
  background-color: #fff;
  padding: 12px;
  gap: 10px;
  display: flex;
  justify-content: space-around;
}

.alert > footer > button  {
  width: 100%;
  border: none;
  color: #fff;
  border-radius:6px;
  padding: 8px;
  font-size: 1.1rem;
  cursor: pointer;
  animation: buttonAlert infinite 10s ease;
  transition: all .5s ease;
}

.alert > footer > button:hover  {
  transform: scale(.97);
}

.searchArea {
  display: flex;
  gap: 10px;
  justify-content: space-around;
}

.inputSearch {
  width: 100%;
  font-size: 1rem;
  padding: 6px;
  border: none;
  border-radius: 6px;
}

.buttonSearch {
  background-color: rgb(31, 31, 114);
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  padding: 8px;
  font-size: 1rem;
  transition: all .5s ease;
}

.buttonSearch:hover {
  background-color: rgb(21, 21, 76);
  transform: scale(.97);
}

@keyframes buttonAlert {
  0% {
    top: 0%;
  }
  
  100% {
    top: 100%;
  }
}

.registerUser, .loginUser {
  width: 100%;
  display: flex;
  justify-content: center;
}

.sidebar {
  background-color: #1a1a1a;
  border-left: 4px solid rgb(31, 31, 114);
  height: 1350px;
  padding: 80px;
  top: -2px;
  left: 0px;
}

@media screen and (max-width: 767px) {
  .sidebar {
    display: none;
  }
}

.title {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.42);
}

.letter {
  display: inline;
  color: rgb(31, 31, 114);
  text-decoration: underline;
}

.dashboard {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockData {
  background-color: #1a1a1a;
  border-radius: 6px;
  padding: 30px;
}